<% lots_of_products = Product.includes(:user).all %>

<h1> Our Products </h1>

<ul>
	<% lots_of_products.each do |product| %>
	<li>
		Product name: <%= product.name %>, costs <%= product.price %> and is sold by
		<%= product.user.name %>.
	</li>
	<% end %>
</ul>